<!DOCTYPE html>
<html  lang="en"    dir="ltr">
<html>
<head>
<meta charset="utf-8">
<title>{{session['username']}}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css') }}">
</head>
<body dir="rtl"> 
    {% extends "index.html" %}
    {% block content %}
    <div class="container">
        <a href="{{url_for('home')}}" class="home-button"> Home page </a> 
        <h5>مرحبا ...{{session['username']}}
            <i class="fa fa-user"></i></h5>
        <h2>*** محتويات سله الشراء ***</h2>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>رقم</th>
                    <th>اسم الصنف</th>
                    <th>المزرعه</th>
                    <th>السعر</th>
                    <th>الكميه</th>
                    <th>اجمالى السعر</th>
                    <th>الحاله</th>
                    <th>المشترى</th>
                    <th>تاريخ/ساعه الطلب</th>
                    <th>تعديل</th>
                    <th>الغاء</th>
                </tr>
            </thead>
            <tbody id="farm-list">
                {% for row in rows %}
                <strong>
                <tr>
                    <td>{{ row[0]}}</td>
                    <td> {{row[1]}}-{{ row[11] }}-{{ row[12] }}</td>
                    <td>{{ row[15]}}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[5] }}{{row[13]}}</td>
                    <td>{{ row[6] * row[5]}}</td>
                    <td>{{ row[8]}}</td>
                    <td>{{ row[19]}}</td>
                    <td>{{ row[7]}}</td>
                    <td><a href="{{ url_for('edit_cartY1', 
                        item_id=row[1]) }}">
                        <i class="fa fa-edit" style="font-size:24px"></i>
                          </a></td>  
                    <td><a href="{{ url_for('delete_item_from_cart', item_id=row[1]) }}"><i class="fa fa-trash-o" style="font-size:20px;color:red"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="POST"  action="create_purchase_order"        enctype="multipart/form-data">
            <select id="item-dropdown" name="item-dropdown">
              <option value="">Select Farm Name</option>
              {% for item in items %}
              <option value="{{ item.name }}">{{ item.name }}</option>
              {% endfor %}
            </select>
            <input  type="hidden"  name='buyer'  id="buyer" value="{{rows[0][19]}}">
            <button type="submit" class="btn btn-danger">Create Puschase Request</button>
		</form>
    </div>
  {% endblock%}
  </body>
</html>