<!DOCTYPE html>

<html lang="en"    dir="ltr">

<html>
<head>
  	<meta charset="utf-8">
  	<title>Edit product items</title>
<style>  
		.image {
			position: absolute;
			border: 1px solid green;
			height: 35%;
			width: 30%;
			top: 25%;
			left: 8%;
 }
img {
			width:  100%;
			height: 100%;
			position:relative ;
			top: 0px;
			left: 0px;
	}

</style>
</head>

<body dir="rtl">
  	{% extends "template.html" %}
	{% block content %}
	<div class="container">
		<a href="{{url_for('home')}}" class="home-button"> Home page </a>    
		<h2>مرحبا ... {{session['username']}}</h2>
		
		<h3>تعديل بيانات صنف</h3>
		<form  action="/update_product"   method="POST">
			<div class="container">	
	     		<input type="hidden" id="id" name="id"  value="{{ item[0]}}" >
					<input type="hidden" id="farm_id" name="farm_id"  value="{{ item[1]}}" >
					<input type="hidden" id="prod_category" name="prod_category"  value="{{ item[2]}}" >
					<input type="hidden" id="prod_name" name="prod_name"  value="{{ item[3]}}" >
					<input type="hidden" id="package" name="package"  value="{{ item[4]}}" >
			   
					<div class="image">
						<img src="/static/images/{{item[6]}}"  alt="{{item[3]}}">
					 <hr>
					</div>
					<div class="row">
						<button type="button" class="btn btn-dark btn-sm">الفئه</button>
						&nbsp
						<button type="button" class="btn btn-light dark btn-sm">{{ item[2] }}</button>
						&nbsp&nbsp				
						<button type="button" class="btn btn-dark btn-sm">الصنف</button>
						&nbsp
						<button type="button" class="btn btn-light dark btn-sm">{{ item[3] }}</button>
						&nbsp&nbsp
						<button type="button" class="btn btn-dark btn-sm">العبوه</button>
						&nbsp
						<button type="button" class="btn btn-light dark btn-sm">{{ item[4] }}</button>
				</div>
				<br>
				<div class="row">	
					<button type="button" class="btn btn-dark btn-sm">سعر الوحده</button>
					&nbsp
					<input type="number"  id="unit_price" name="unit_price" value="{{ item[5] }}" >&nbsp&nbsp&nbsp&nbsp
					<button type="button" class="btn btn-dark btn-sm">المخزون</button>
					&nbsp
					<input type="integer" id="stock"  name="stock" value="{{ item[7] }}  " >
				</div>
				<br><br>	
				<input type="submit" value="Save">
 			</div>
		</form>
	</div>
	 {% endblock %}
  </body>
</html>