<!DOCTYPE html>
<html lang="en"  dir="ltr">
<htlm>
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css') }}">
   <style>
      .container {
        align-items: center;
        background-color: lightgrey;
        padding: 10px;
        float:none;
        width:30%;
        text-align:right;
            }

  .container input{
    width: 200px;
  }
    
    form{
        align-items: center;
        text-align: center;
        }
  </style>
  <script>
    function clearForm() {
    document.getElementById("myForm").reset();
    }
    function goBack() {
    window.history.back();
  }

  function clearName() {
    var input = document.getElementById('myName');
    input.value = '';
    }
    function clearmyPassword() {
    var input = document.getElementById('myPassword');
    input.value = '';
}
  </script>

</head>
<body dir="rtl">
      {% if error %}
      <p>{{ error }}</p>
      {% endif %}
    <div class="container">
      <a href="{{url_for('login')}}" class="home-button"> Login to Farm </a>
      &nbsp
      <a href="{{url_for('home')}}" class="home-button"> Home page </a>
      
      <form class="myForm" method="POST" action="{{ url_for('login_market') }}">
        <h3>Login to Market</h3>
        <input type="text" name="name" id="myName" placeholder="اسم المستخدم"  onfocus="clearName()">
        <input type="password" name="password" id="myPassword"  placeholder="الرقم السرى" onfocus="clearmyPassword()">
        {% if username and password ==0 %}
                print('username new error')     
        {% endif%} 
        <br>
        <input type="submit"  id="submit" value="Submit"  onclick="goBack()"><br><br>
        <a href="{{ url_for('signup_market') }}" class="signup-button" >Signup</a>
      
      </form>
    </div>
  </body>
</html>